@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE & Edge */
}

.scroll-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

/* menghilangkan spiner number Untuk Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* menghilangkan spiner number untuk Firefox */
.no-spinner {
    -moz-appearance: textfield;
}